// Estilos para las media queries

@media (min-width:541px) and (max-width: 720px) {

    .header {
        &__nav {
            grid-template-columns: repeat(17,1fr);
            grid-template-rows: repeat(2,1fr);
        }

        &__logo__position {
            grid-column: 2/6;   
            grid-row: 1/1;   
        }
    }

    .nav {
        &__menu {
            grid-column: 2/17;
            grid-row: 2; 
        }
        &__redes {
            grid-column: 13/17;   
            grid-row: 1/1;
            justify-content: flex-end;
        }
    }

    .contenedor__tarjetas {
        width: 100%;
        text-align: center;
    }

    .tarjeta {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__redes .titulo {
        display: none;
    }
}


@media (min-width:320px) and (max-width: 540px) {
    
    .header {
        &__nav {
        grid-template-rows: repeat(2,1fr);
        }
        &__logo__position {
            grid-column: 2/8; 
            grid-row: 1/1;   
            justify-content: left;
        }
    }

    .nav {
        &__menu {
            grid-column: 2/14; 
            grid-row: 2/2;
        }

        &__redes {
            grid-column: 13/15; 
        }
    }

    .contenedor__tarjetas {
        width: 100%;
        text-align: center;
    }

    .tarjeta {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__redes .titulo {
        display: none;
    }

}