/* 
Color fondos: $color-principal 
Color divisores: $color-secundario
*/
@import 'variables';
@import 'header';
@import 'formulario';
@import 'footer';
@import 'mediaqueries';

*{
    margin:0;
    padding:0;
}

.logo__auxiliar__redes {
    padding: 5px;
    height:35px;
    width: 35px;
}

 
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    font-weight: bold;
}


/* Estilos para el main */

main {
    background-color: $color-principal;
}

.portada {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: $size*0.15 solid black;
}


.imagen {
    width: 180px;
    height: 160px;
}

.imagen_osito {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

.contenedor__tarjetas {
    width: 80%;
    margin: auto;
    padding-bottom: $size*2;
}

.tarjeta {
    display: flex;
    margin-top: 15px;
}

.titulo {
    font-family: $font-principal;
    font-weight: bold;
    text-align: center;
    font-size: $size*1.75;
    padding-left: $size;
    padding-right: $size;
    padding-bottom: $size*0.25;
}

.margen {
    padding: $size*2;
}

.titulo__inicial {
    text-decoration: underline;
    font-family: $font-principal;
    font-weight: bold;
    text-align: center;
    font-size: $size*2;
    padding-left: $size;
    padding-right: $size;
    // padding-top: $size*0.25;
}

.texto {
    padding: 1%;
    font-size: $size*1.5;
    padding-left: $size;
    padding-right: $size;
    font-family: $font-principal;
}

.video {
    padding: 1%;
}

.presentacion__inicio {
    padding: 1%;
    height: 80%;
    width:80%; 
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    font-family: $font-principal;
    background-color: $color-secundario;
    border-top: 2px solid black; 
}

@mixin aumento($aumento) {
    transform: scale($aumento);
}

.boton__divisor {
    border-radius: 3px;
    border-color: $color-detalles;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 1%;
    color:black;
    background-color: $color-detalles;
    box-shadow: 1px 1px black;
    font-family: $font-principal;
    &:hover {
        @include aumento(1.1);
    }
}

.resumen__tarjeta{
    padding-top: 10px;
    border-top: 2px solid black;
    &__foto {
        padding: 1%;
        height: 35%;
        width: 35%;
    }
}

a h3:hover {
    @include aumento(1.2);
    color: black;
    margin-left: $size;
}

.texto .aumento:hover{
    font-size: $size*1.1;
    color:black;
}

.alineacion {
    margin-top: $size*4.5;
}


